{% extends "layout.html" %} {% block body %}

<link
  href="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/css/visualiit.webflow.e3377aea7.css"
  rel="stylesheet"
  type="text/css"
/>
<div class="wf-section">
  <div>
    <div class="text-block-11">
      <strong
        >UML TO CODE is a service that helps programmers translate their UML
        class diagrams to code within seconds and generate test and more. We
        have a wide range of satisfied customers, from individual programmers to
        large organizations.</strong
      >
    </div>
  </div>
  <div class="div-block-4">
    <div class="text-block-11">
      <strong
        >With UML TO DART, you can quickly and easily generate code from your
        UML diagrams. You can also use it to create unit tests for your code,
        making it easier to practice TDD.</strong
      >
    </div>
  </div>
  <div>
    <div class="text-block-11">
      <strong
        >It was created by a programmer who was tired of wasting time
        translating UML diagrams by hand.<br />So he thought there had to be a
        better way and set out to create a tool that would automate the
        process.</strong
      >
    </div>
  </div>
</div>
{% endblock %}
