{% extends "layout.html" %} {% block body %}
<div class="wf-section"><div class="hero-wrapper"></div></div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Example 1: (class and interface):</h1>
    <h3 class="heading-5">The UML Diagram:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6377fbded600311f219a498a_example1UML.PNG"
      loading="lazy"
      width="545"
      srcset="
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6377fbded600311f219a498a_example1UML-p-500.png 500w,
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6377fbded600311f219a498a_example1UML.PNG       649w
      "
      sizes="(max-width: 479px) 56vw, (max-width: 991px) 66vw, 545px"
      alt=""
      class="eximg"
    />
    <h1 class="heading-2"></h1>
    <h3 class="heading-6">The generated code:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6377fbdc79726342fe99b7d4_ex1c.PNG"
      loading="lazy"
      width="545"
      alt=""
      class="eximg"
    /><img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6377fbde9bca27fc48166d6e_ex1c2.PNG"
      loading="lazy"
      width="545"
      alt=""
      class="eximg"
    />
  </div>
</div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Example 2: (generalization)</h1>
    <h3 class="heading-5">The UML Diagram:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378cb7dd6ddb01c4909d255_2uml.PNG"
      loading="lazy"
      width="267"
      alt=""
      class="eximg"
    />
    <h1 class="heading-2"></h1>
    <h3 class="heading-6">The generated code:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378cb8a9d37fd15118f8d4d_Capture2.PNG"
      loading="lazy"
      width="444"
      alt=""
      class="eximg"
    /><img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378cb7dace0331c720a5b86_Capture.PNG"
      loading="lazy"
      width="443"
      alt=""
      class="eximg"
    />
  </div>
</div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Example 3: (composition)</h1>
    <h3 class="heading-5">The UML Diagram:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e895359e1d2f577d81fc_u1.PNG"
      loading="lazy"
      width="438"
      srcset="
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e895359e1d2f577d81fc_u1-p-500.png 500w
      "
      sizes="(max-width: 767px) 68vw, 438px"
      alt=""
      class="eximg"
    />
    <h1 class="heading-2"></h1>
    <h3 class="heading-6">The generated code:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e895d6003159aba812ae_Capture.PNG"
      loading="lazy"
      width="444"
      alt=""
      class="eximg"
    /><img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e895ab345025adf997db_Capture1.PNG"
      loading="lazy"
      width="443"
      alt=""
      class="eximg"
    />
  </div>
</div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Example 4: (Aggregation)</h1>
    <h3 class="heading-5">The UML Diagram:</h3>
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378dc479d37fd718290a6f5_Capture3.PNG"
      loading="lazy"
      width="423"
      srcset="
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378dc479d37fd718290a6f5_Capture3-p-500.png 500w
      "
      sizes="(max-width: 767px) 68vw, 423px"
      alt=""
      class="eximg"
    />
    <h1 class="heading-2"></h1>
    <h3 class="heading-6">The generated code:</h3>
    <img
      src="https://uploads-ssl.webflow.com/placeholder.svg"
      loading="lazy"
      alt=""
    /><img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e895d6003159aba812ae_Capture.PNG"
      loading="lazy"
      width="444"
      alt=""
      class="eximg"
    /><img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6378e95bd60031986ba81bea_last.PNG"
      loading="lazy"
      width="444"
      alt=""
      class="eximg"
    />
  </div>
</div>
{% endblock %}
