{% extends "layout.html" %} {% block body %}

<div class="wf-section"><div class="hero-wrapper"></div></div>
<div id="code-converter-feature" class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">UML to code converter:</h1>
    <h1 class="heading-2"></h1>
    <p class="margin-bottom-24px-2">
      After you finish designing your software with
      <a href="#">LUCIDCHART </a> you can convert your design into code in
      second (milliseconds) with almost no errors.
      <br>
      Take a look at these <a href="#">Examples </a>
    </p>
  </div>
</div>
<div id="test-feature" class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Test converter:</h1>
    <h1 class="heading-2"></h1>
    <p class="margin-bottom-24px-2">
      With UMl TO CODE you can generate tests that covers all your code methods...
      <br>
      So the only thing you need is just implement them.
      and help you practice TTD
    </p>
  </div>
</div>
<div id="buy-feature" class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">Buy/sell code:</h1>
    <h1 class="heading-2"></h1>
    <p class="margin-bottom-24px-2">
      this feature is coming soon ...
    </p>
  </div>
</div>
{% endblock %}
