{% extends "layout.html" %}

{% block body %}

<div class="w-row">
  <div class="w-col w-col-6">
    <main>
      <h1 class="heading">
        Easily,<br />convert your<br />UML Diagram to code
      </h1>
      <div class="text-block-2">
        UMlTOCODE is a tool that <br />helps you convert any UML diagram
        made with
        <a href="https://www.lucidchart.com/" target="_blank" class="link"
          ><span class="text-span"><strong>lucidchart</strong></span></a
        ><br />to code in seconds, increase your productivity, and much
        more...
      </div>
      <!-- TODO: implement sign up -->
      <!-- <a href="#" class="button-primary-copy w-button">get started</a> -->
      <a href="/more" class="button-primary-copy w-button">LEARn more</a>
    </main>
  </div>
  <div class="w-col w-col-6">
    <img
      class="image"
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6362b80f471370e606a9969f_carbon.png"
      width="462"
      alt="features"
      sizes="(max-width: 767px) 96vw, (max-width: 991px) 47vw, 462px"
      data-w-id="a00c15dc-7ecf-5def-60cd-872e720b1126"
      loading="lazy"
      srcset="
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6362b80f471370e606a9969f_carbon-p-500.png   500w,
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6362b80f471370e606a9969f_carbon-p-800.png   800w,
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6362b80f471370e606a9969f_carbon-p-1080.png 1080w,
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/6362b80f471370e606a9969f_carbon.png        1194w
      "
    />
  </div>
</div>
<div class="wf-section">
  <div class="text-block-3">convert your diagram now</div>
</div>
<div class="wf-section">
  <div class="text-block-4">
    design your software with the most powerful tool out there and convertet
    to your favourite programming language within seconds, and even generate
    to complete tests for every function, and its is much more powerful when
    using GITHUB Copilot.
    <a href="/more"
      ><span><strong>Learn more</strong></span></a
    >
  </div>
</div>
<div class="wf-section">
  <div class="text-block-3">Upload you file</div>
</div>
<div id="dialog" title="Box" class="modal">
  <h2 id="converting">Converting....</h2>
  <div
    id="myBar"
    class="w3-container w3-green"
    style="height: 24px; width: 0%"
  >
    0%
  </div>
</div>
<form
  action="/"
  id="myForm"
  onsubmit="return confirmFormDialog()"
  method="POST"
  class="dropzone"
  id="fileUpload"
  enctype="multipart/form-data"
>
  <div class="div-block" style="margin-top: 3%; margin-bottom: 3%;">
    <div class="container-3 w-container">
      <div class="text-block-6">UML&nbsp;TO&nbsp;CODe</div>
    </div>
    <div class="container-4 w-container">
      <div class="columns-3 w-row">
        <div class="column-7 w-col w-col-3">
          <div><strong>- </strong></div>
        </div>
        <div
          class="column-8 w-col w-col-9"
        >
          <input type="file" name="file" accept=".csv,.txt" />
        </div>
      </div>
      <div class="columns-4 w-row">
        <div class="column-9 w-col w-col-7">
          <div><strong> - Programming Language : PL &nbsp; =</strong></div>
        </div>
        <div
          class="column-10 w-col w-col-5"
        >
          <select id="pl" name="pl">
            <option value="dart">Dart</option>
            <option value="java">JAVA</option>
            <option value="js">java script</option>
            <option value="python">python</option>
            <option value="cplus">c++</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container-5 w-container">
      <a href="javascript:confirmFormDialog()" class="button w-button"
        >+ Convert (UML: csv) : CODE</a
      >
    </div>
  </div>
</form>
{% endblock %}
