{% extends "layout.html" %} {% block body %}
<div class="wf-section"><div class="hero-wrapper"></div></div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-3">What are UML diagrams?</h1>

    <p class="margin-bottom-24px-2">
      It is important when working on a software development project notto jump
      right into creating code to solve the problem.<br />‍<br />Unified
      Modeling Language, or UML, is a tool for representing the architecture,
      design, and implementation of complex software systems visually. When
      developing code, it can be challenging to remember the relationships and
      hierarchies inside a software system because there are sometimes thousands
      of lines in an application. That software system is broken down into
      components and subcomponents using UML diagrams.<br />‍<br />The majority
      of software developers will be able to comprehend and utilize it since it
      is a universal modeling language that can be used with a variety of
      programming languages and development techniques.
    </p>
  </div>
  <div class="hero-split">
    <img
      src="https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/636688ba0001037562e23bc5_UML%20benifets%20(1).png"
      loading="lazy"
      srcset="
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/636688ba0001037562e23bc5_UML%20benifets%20(1)-p-500.png 500w,
        https://uploads-ssl.webflow.com/63615a3962ff9e3710e62bc0/636688ba0001037562e23bc5_UML%20benifets%20(1).png       600w
      "
      sizes="100vw"
      alt=""
      class="image-2"
    />
  </div>
</div>
<div class="hero-wrapper-2">
  <div class="hero-split">
    <h1 class="heading-4">Why UMLTOCODE:</h1>
    <div class="text-block-5">
      UML to code is a tool that helps you tuen your UML Diagrams to code with
      in seconds, and save you lot of time, and it can even generagte
      to-complete tests.<br />You can also sell your UML design or buy one (and
      converte it to code).<br />If you are using
      <a href="https://github.com/features/copilot">Github copilot</a> it will
      help you a lot, beacause when you generate the code you get all classes
      methods(methods parameters) attributes so Copilot will understand want you
      specificly want from this method to do.<br />UMLTOCODE will 10x your
      productivity.<br />
    </div>
    <blockquote>
      <strong class="bold-text"
        >don&#x27;t waste time doing boring stuff, spend time on
        thinking.</strong
      >
    </blockquote>
  </div>
</div>
<div class="hero-wrapper-2" id="how-to-use">
  <div class="hero-split">
    <h1 class="heading-4">How to use it:</h1>
    <div class="rich-text-block w-richtext" style="margin-left: 4%">
      <div>
        <h3>
          1.
          <a
            href="https://lucid.app/lucidchart/5bd17ea2-2d28-4fff-b38a-16ffbdb8abb3/edit?beaconFlowId=C63F7D72D36CE3F3&invitationId=inv_8e773aaf-97c7-4863-8e36-6ce518d7abbb&page=0_0#"
            target="_blank"
            >Go to Lucidchart adn start designing</a
          >
        </h3>
      </div>

      <div>
        <h3>2. then click on File</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/873d8bda-1b5d-41df-8632-509be626385c/2a05f3d8-090e-4292-a746-bcc130e02c6d.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.0853&fp-y=0.0713&fp-z=2.9507&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A617"
          width="600"
          alt="then click on File"
        />
      </div>

      <div>
        <h3>3. Click on Export</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/ffa628e8-d426-4228-ac3a-f18511722c7f/035ac313-ede9-4630-9620-48625e65549c.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1625&fp-y=0.9595&fp-z=2.3560&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A617"
          width="600"
          alt="Click on Export"
        />
      </div>

      <div>
        <h3>4. Click on CSV of Shape Data</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/606c65ae-320e-4949-b3c0-b182cc91e8fc/2fd02fde-dfaf-470b-b23a-c048b85a2ede.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.3441&fp-y=0.8493&fp-z=2.0213&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A617"
          width="600"
          alt="Click on CSV of Shape Data"
        />
      </div>

      <div>
        <h3>
          5.
          <a href="http://127.0.0.1:5000/" target="_blank">Go to UML TO CODE</a>
        </h3>
      </div>

      <div>
        <h3>6. chose the programming language you want to convert to</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/78481583-5261-4f66-8ea1-f682efa26e58/dba30eb0-e32d-4130-8282-2076eaaddc86.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5930&fp-y=0.5054&fp-z=2.4402&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A560"
          width="600"
          alt="chose the programming language you want to convert to"
        />
      </div>

      <div>
        <h3>
          7. Select the file that you just downloaded from file upload menu
        </h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/7029d105-183e-4ee7-8387-48af6456c74e/0532ed24-a267-4033-9723-3bd7da4f2931.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4865&fp-y=0.4143&fp-z=2.0243&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A560"
          width="600"
          alt="Select the file that you just downloaded from file upload menu"
        />
      </div>

      <div>
        <h3>8. Click on "CONVERT.."</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/24a89989-ddb1-42a1-a161-bbb0cacf9636/8e2bedfa-04e2-496c-84a8-a3330be66fed.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4938&fp-y=0.6429&fp-z=1.8098&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A560"
          width="600"
          alt='Click on "CONVERT.."'
        />
      </div>

      <div>
        <h3>9. here you go the code is ready</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/f03b4cf6-2e34-4c58-bf25-dc7f0496f01e/904b1c5e-884e-4662-aaaf-4166af4ef81e.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4941&fp-y=0.5429&fp-z=1.2227&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A560"
          width="600"
          alt="here you go the code is ready"
        />
      </div>

      <div>
        <h3>10. Copy the code and use it.</h3>
        <img
          src="https://images.tango.us/workflows/b2f269df-b7aa-4645-a835-b40432f9ac2e/steps/1af00f85-e578-44b2-8967-eef1ddf078c6/c8a2b62e-aea2-45db-853b-0de933437b30.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.3056&fp-y=0.2473&fp-z=3.0270&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A560"
          width="600"
          alt="Copy the code and use it."
        />
      </div>

      <hr />
      <div>
        <a
          href="https://app.tango.us/app/workflow/b2f269df-b7aa-4645-a835-b40432f9ac2e?utm_source=magicCopy&utm_medium=magicCopy&utm_campaign=workflow%20export%20links"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
